#busy {
    text-align: center;
    margin-bottom: 50px;
    
  }
  #dobox {
    background-color: lightskyblue;
    position: relative;
    height: 400px;
    width: 500px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    }
#enterbox {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: firebrick;
    height: 30px;
    width: 500px;
    color: white;
}
#unlist {
    list-style: none;
}
.High {
    color: red;
}
.Medium{
    color: yellow;
}
.Low{
    color: green;
}
.done {
    color: white;
    text-decoration: line-through;
}
