body {
background-color: lightblue;
}
nav {
  background-color: white;
}
header {
font-size: 50px;
}
.high {
color: red;
}
.med {
color: orange;
}
.low {
color: grey;
}
done {
text-decoration: line-through;
}
#a1 {
  background-color: red;
}
#a1>ul {
  color: white;
}
#a2 {
  background-color: orange;
}
#a2>ul {
  color: brown;
}
#a3 {
  background-color: grey;
}
#a3>ul {
  color: black;
}
#a4 {
  background-color: black;
}
#a4>ul {
  text-decoration: line-through;
  color: cyan;
}
#a1>h1 {
  color: white;
}
#a2>h1 {
  color: brown;
}
#a4>h1 {
  color: cyan;
}
